<%- include('header') %>

    <!-- <div class="row">
        <%- include('partials') %> -->
    <div class="products-list col-md-12" style="background-color: rgb(255, 255, 255);">
        <div class="row" style="padding: 50px 20px 50px 20px;">

            <!-- HTML -->
            <div class="container col-md-6" style="padding-left: 50px;">
                <div class="row row-cols-2">
                    <% for (let i=0; i < individualProduct.images.length; i++) { %>
                        <div class="col" style="padding-bottom: 25px;">
                            <img class="imageclass" src="/uploads/<%= individualProduct.images[i] %>"
                                alt="<%= individualProduct.productName %>">
                        </div>
                        <% } %>
                </div>
            </div>



            <div class="product-details col-md-6" style="font-family: sans-serif;">
                <h3>
                    <%= individualProduct.productName %>
                </h3>
                <p>Brand: <%= individualProduct.brand %>
                </p>
                <% if(individualProduct.offer){ %>
                    <h6 style=" font-size: 1.2em;"><span style="text-decoration: line-through;">MRP: ₹<%= individualProduct.price %></span> 
                    </h6>
                    <h6>discount: <%= individualProduct.offer %>%</h6>
                    <h6 style="font-size: 1.2rem;color: red;">Offer Price: ₹<%=offerPrice %></h6>
                <% }else{ %>

                <%}%>
                
                <p>Colour: <%= individualProduct.colour %>
                </p>
                <p>Additional Details: <%= individualProduct.additionalInfo %>
                </p>
                <div>
                    <form action="/cart" method="POST">
                        <input type="hidden" name="productId" value="<%= individualProduct._id %>">
                        <input type="hidden" name="productName" value="<%= individualProduct.productName %>">
                        <input type="hidden" name="productPrice" value="<%= individualProduct.price %>">
                        <button type="submit" class="btn add-to-cart">Add to Cart</button>
                    </form>
                </div>


                <div class="button-container">
                    <button class="wishlist-button btn btn-outline-dark" data-product="<%= individualProduct._id %>">
                        Add to Wishlist
                    </button>
                </div>
            </div>
            <style>
                .button-container {
                    display: flex;
                    /* Use flexbox to align buttons horizontally */
                    gap: 10px;
                    /* Add some spacing between buttons */
                    margin-top: 10px;
                    /* Adjust margin as needed */
                }
            </style>

        </div>
    </div>
    </div>

    <!-- Add this script tag to include SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

        const heartIcon = document.querySelectorAll('.wishlist-button');

        heartIcon.forEach(icon => {
            icon.addEventListener('click', () => {
                const productId = icon.getAttribute('data-product')

                console.log('product id individual', productId);

                fetch('/wishlist/add/' + productId, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                    .then(response => {
                        if (response.ok) {

                            return response.json(); // Parse the response as JSON
                        }
                    })
                    .then(data => {
                        console.log('data from the add to wishlist Individual', data);
                        // here i need a sweet alert pop up as item added to wishlist

                        Swal.fire({
                            icon: 'success',
                            title: 'Added to Wishlist',
                            showConfirmButton: false,
                            timer: 1500 // Close the popup after 1.5 seconds
                        });


                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                    });
            })
        })
    </script>

    <%- include('footer') %>