<%- include('header') %>


    <div class="container-fluid">
        <div style="padding: 30px;">
            <div class="row"
                style="padding: 30px; border: 1px solid #d1d1d1; border-radius: 10px; box-shadow:  1px 1px 5px rgba(133, 133, 133, 0.5);">

                <div class="col-md-4">
                    <form action="/cart/placeorder/submit" method="post" id="paymentForm">
                        <div class="">
                            <div class="row"
                                style="border: 1px solid rgb(198, 198, 198); border-radius: 10px; padding: 20px; background-color: white;">
                                <div class="col">
                                    <p>Total Price:</p>
                                </div>
                                <div class="col">
                                    <p style="font-weight: bold;">₹ <%= grandTotal %>
                                    </p>
                                </div>
                            </div>



                        </div>
                        <br>
                        <div class="w-100"
                            style=" border: 1px solid rgb(198, 198, 198); border-radius: 10px; padding: 20px; background-color: white;">
                            <h4 style="border-bottom: 1px solid grey;">Payment Options</h4>
                            <h5>Wallet Bal: ₹<%= user.wallet %>
                            </h5>
                            <br>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paymentOption" id="cashOnDelivery"
                                    value="cash" onclick="updateSelectedPaymentOption('Cash on Delivery')">
                                <label class="form-check-label" for="cashOnDelivery">
                                    Cash on Delivery
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paymentOption" id="onlinePay"
                                    value="gpay" onclick="updateSelectedPaymentOption('Online payment')">
                                <label class="form-check-label" for="onlinePay">
                                    Online Payment
                                </label>
                            </div>

                            <% if(user.wallet> grandTotal ){ %>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="paymentOption" id="walletPay"
                                        value="wallet" onclick="updateSelectedPaymentOption('WalletPay')">
                                    <label class="form-check-label" for="walletPay">
                                        Wallet Payment
                                    </label>
                                </div>
                                <% } %>

                                    <input type="hidden" name="selectedPaymentOption" id="selectedPaymentOptionInput"
                                        value="">


                        </div>

                </div>


                <div class="col-md-8">

                    <div
                        style="border: 1px solid rgb(200, 200, 200); border-radius: 10px; padding: 30px; background-color: white;">
                        <h4>Select Address</h4>
                        <!-- <form id="addressForm"> -->
                        <% addresses.forEach((address, index)=> { %>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="selectedAddress"
                                    id="address<%= index %>" value="<%= address._id %>"
                                    onclick="updateSelectedAddress('<%= address._id %>')">
                                <label class="form-check-label" for="address<%= index %>">
                                    <%= address.FullName %>, <%= address.ContactNo %>, <%= address.BuildingName %>, <%=
                                                    address.PostOffice %>, <%= address.place %>, <%= address.City %>,
                                                            <%= address.State %>, <%= address.PostOffice %>, <%=
                                                                        address.PIN %>
                                </label>
                                <input type="hidden" id="selectedAddressInput" name="selectedAddressInput" value="">

                            </div>
                            <% }); %>

                                <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">Add address</a>

                    </div>
                </div>

                <div class="col-md-12 d-flex justify-content-center align-items-center" style="padding: 10px;">
                    <button id="placeOrderButton" type="submit" class="btn placeOrder" style="width: 200px;" onclick=""
                        onsubmit="return validatePayment()">Place Order</button>
                </div>
                </form>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add address</h5>

                </div>
                <div class="modal-body">
                    <form action="/cart/addaddress" method="post" id="editProfileForm">
                        <div class="row">
                            <!-- Full Name -->
                            <div class="col mb-3">
                                <label for="FullName" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="FullName" name="FullName" required>
                            </div>

                            <!-- Contact Number -->
                            <div class="col mb-3">
                                <label for="ContactNo" class="form-label">Contact Number</label>
                                <input type="text" class="form-control" id="ContactNo" name="ContactNo" required>
                            </div>
                        </div>


                        <!-- Building Name -->
                        <div class="mb-3">
                            <label for="BuildingName" class="form-label">Building Name</label>
                            <input type="text" class="form-control" id="BuildingName" name="BuildingName" required>
                        </div>

                        <div class="row">
                            <!-- Post Office -->
                            <div class="col mb-3">
                                <label for="PostOffice" class="form-label">Post Office</label>
                                <input type="text" class="form-control" id="PostOffice" name="PostOffice" required>
                            </div>

                            <!-- Place -->
                            <div class="col mb-3">
                                <label for="Place" class="form-label">Place</label>
                                <input type="text" class="form-control" id="place" name="place" required>
                            </div>
                        </div>

                        <div class="row">
                            <!-- City -->
                            <div class=" col mb-3">
                                <label for="City" class="form-label">City</label>
                                <input type="text" class="form-control" id="City" name="City" required>
                            </div>

                            <!-- State -->
                            <div class="col mb-3">
                                <label for="State" class="form-label">State</label>
                                <input type="text" class="form-control" id="State" name="State" required>
                            </div>

                        </div>

                        <div class="row">
                            <!-- PIN Code -->
                            <div class="col mb-3">
                                <label for="PIN" class="form-label">PIN Code</label>
                                <input type="text" class="form-control" id="PIN" name="PIN" required>
                            </div>
                            <!-- Country -->
                            <div class="col mb-3">
                                <label for="Country" class="form-label">Country</label>
                                <input type="text" class="form-control" id="Country" name="Country" required>
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


   

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>


        function updateSelectedAddress(selectedAddress) {
            // Update the hidden input field with the selected address
            document.getElementById('selectedAddressInput').value = selectedAddress;
            console.log(document.getElementById('selectedAddressInput').value);

            console.log('id', selectedAddress)
        }

        function updateSelectedPaymentOption(selectedOption) {
            document.getElementById('selectedPaymentOptionInput').value = selectedOption

            console.log('mode of payment', selectedOption);
        }

        function validatePayment() {
            const paymentOptions = document.getElementsByName("paymentOption");
            let paymentSelected = false;

            for (let i = 0; i < paymentOptions.length; i++) {
                if (paymentOptions[i].checked) {
                    paymentSelected = true;
                    break; // Exit the loop if a payment option is selected
                }
            }

            const addressOptions = document.getElementsByName("selectedAddress");
            let addressSelected = false;

            for (let i = 0; i < addressOptions.length; i++) {
                if (addressOptions[i].checked) {
                    addressSelected = true;
                    break;
                }
            }




        }




        document.getElementById('placeOrderButton').addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the default form submission

            const selectedPaymentOption = document.getElementById('selectedPaymentOptionInput').value
            console.log('selected payment option........', selectedPaymentOption);
            if (!selectedPaymentOption) {
                alert("Please select a payment option.");
                event.preventDefault();
                return; // Prevent form submission
            }

            const selectedAddress = document.getElementById('selectedAddressInput').value
            console.log('selected address option........', selectedAddress);
            if (!selectedAddress) {
                alert("Please select an address.");
                event.preventDefault();
                return;

            }
            let details = {
                selectedPaymentOption: selectedPaymentOption,
                selectedAddress: selectedAddress
            }
            // Send an AJAX request to the controller
            fetch('/cart/placeorder/submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    details
                }),
            })
                .then((response) => response.json())
                .then((data) => {
                    console.log('data at first if', data);

                    if (data.success === true) {
                        console.log('data  ---', data);


                        Swal.fire({
                            icon: 'success',
                            title: 'Order Placed Successfully',
                            text: 'Keep shopping!',
                            showConfirmButton: false,
                            timer: 2000,
                        }).then(() => {
                            // Redirect to another page or perform other actions
                            window.location.href = '/afterorder';

                            // $('#successmodal').modal('show');
                            //  window.location.href = '/userhome';

                        });
                    } else if (data.onlineSuccess) {
                        // console.log('hii');
                        console.log('looking for undefined--- key,orderid,amount', data.order, data.order.key, data.order.id, data.order.amount);
                        var options = {
                            "key": "" + data.key + "",
                            "amount": "" + data.order.amount + "",
                            "currency": "INR",
                            "image": "/images/logo3.jpg",
                            "order_id": data.order.id,
                            "handler": function (response) {
                                console.log('response', response);
                                createOrder(details);
                            },
                            "theme": {
                                "color": "#003F62"
                            },
                            "prefill": {
                                "name": "",
                                "email": "",
                                "contact": ""
                            },
                            "notes": {
                                "address": "Razorpay Corporate Office"
                            },
                            "theme": {
                                "color": "#3399cc"
                            }

                        };
                        var rzp1 = new Razorpay(options);
                        rzp1.open();
                        // e.preventDefault();
                        console.log('hii 2');
                    }
                    else {
                        console.log('data error', data);
                        // Error occurred, trigger error SweetAlert2 alert
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: data.message, // Display an error message from the controller if needed
                        });

                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        });

        function createOrder(details) {
            console.log(details);
            fetch('/orderOnline', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    details
                }),
            })
                .then((response) => response.json())
                .then((data) => {
                    Swal.fire({
                        icon: 'success',
                        title: 'Order Placed Successfully',
                        text: 'Keep shopping!',
                        showConfirmButton: false,
                        timer: 2000,
                    }).then(() => {
                        // Redirect to another page or perform other actions
                        window.location.href = '/afterorder';

                    

                    });
                })

        }


    </script>



    <%- include('footer')%>