<%- include('partials') %>

  <div class="" style=" margin-left: 240px; width:auto; padding-top: 30px; padding-left: 20px;">

    <div class="home-content">
      <div class="overview-boxes">

        <div class="box">
          <div class="right-side" style="text-align: center;">
            <div class="box-topic">Successful Orders</div>
            <div class="number">
              <%= totalOrders1 %>
            </div>

          </div>
          <i class="bx bx-cart-alt cart"></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Sales</div>
            <div class="number">₹ <%= totalSalesAmount %>
            </div>

          </div>
          <i class="bx bxs-cart-add cart two"></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Profit</div>
            <div class="number">₹ <%= totalProfitAmount %>
            </div>

          </div>
          <i class="bx bx-cart cart three"></i>
        </div>

      </div>
    </div>
  

    <div class="row">
      <div class="col d-flex justify-content-center">


        <div class="payment-chart">
          <h6 style="text-align: center; font-size: 1.5rem;">Payment methods</h6>
          <canvas id="myChart"></canvas>
        </div>
      </div>

      <div class="col-md-6">
        <div class="category-chart">
          <div>
            <h6 style="text-align: center; font-size: 1.5rem;">Category wise sales</h6>
            <canvas id="categoryWiseSales"></canvas>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="col d-flex justify-content-center" style="padding: 15px;">
      <div class="monthly-sales-chart">
        <h6 style="text-align: center; font-size: 1.5rem;">Monthly sales</h6>
        <div>
          <canvas id="monthlySales"></canvas>
        </div>
      </div>

    </div>

  </div>

  <input type="hidden" id="paymentCountsData" value='<%= JSON.stringify(paymentCounts) %>'>
  <input type="hidden" id="categoryCountsData" value="<%= JSON.stringify(categoryCounts) %>">
  <input type="hidden" id="monthlySalesCounts" value="<%= JSON.stringify(monthlySalesArray) %>">
  <!-- <%= console.log( 'from here--',monthlySalesArray) %> -->

  <%- include('footer') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      const ctx = document.getElementById('myChart');

      const paymentCountsDataElement = document.getElementById('paymentCountsData');

      const paymentCounts = JSON.parse(paymentCountsDataElement.value);


      const labels = paymentCounts.map(item => item._id);
      const dataValues = paymentCounts.map(item => item.count);

      new Chart(ctx, {
        type: 'doughnut',

        data: {
          labels: labels,

          datasets: [{
            label: 'Count of Payment',
            data: dataValues,

            borderWidth: 2
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });


      const cty = document.getElementById('categoryWiseSales');
      const categoryCountsDataElement = document.getElementById('categoryCountsData');
      const categoryCounts = JSON.parse(categoryCountsDataElement.value);

      const categoryLabels = categoryCounts.map(item => item._id);
      const categoryCounted = categoryCounts.map(item => item.count)
      new Chart(cty, {
        type: 'polarArea',
        data: {
          // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          labels: categoryLabels,
          datasets: [{
            label: 'Total counts',
            // data: [12, 19, 3, 5, 2, 3],
            data: categoryCounted,
            borderWidth: 2
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });


      const fxy = document.getElementById('monthlySales');
      const monthlySalesElement = document.getElementById('monthlySalesCounts');
      const monthlySalesJSON = monthlySalesElement.value; // Get the JSON string from the input element
      const monthlySalesArray = JSON.parse(monthlySalesJSON); // Parse the JSON string to get the array

      console.log('monthly data', monthlySalesArray);


      new Chart(fxy, {
        type: 'line',
        data: {
          labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
          datasets: [{
            label: 'Sales ₹',
            // data: [65, 59, 80, 81, 56, 55, 40, 12, 30, 11, 56, 34],
            data: monthlySalesArray,
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });


  //     document.getElementById('downloadButton').addEventListener('click', () => {
    
  //   const startDate = document.getElementById('startDate').value;
  //   const endDate = document.getElementById('endDate').value;
  //       console.log('cpmomg');
  //   let data = {1:'succes'};
  //   console.log(data);
  //   // Perform a fetch request
  //   fetch('/downloadreport', {
  //     method: 'post', // Use POST or GET as needed
  //     headers: {
  //       'Content-Type': 'application/json',
  //     },
  //     body: JSON.stringify(data),
  //   })
  //     .then((response) => response.json())
  //     .then((data) => {
  //       // Handle the response data here
  //       console.log(data);
  //       // You can process the response data or redirect to another page.
  //     })
      
  // });
    </script>